*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: $color-main;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  @include media(t) {
    padding: 0 20px;
  }

  @include media(m) {
    padding: 0 10px;
  }
}
